<!doctype html>
<html>
<head>
    <title>Vue Example</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.min.js"></script>
</head>

<script type="text/x-template" id="calendar_">
    <div class="calendar">
        <button class="btn" v-if="!isLoaded" @click="load">Load</button>
        <button class="btn" v-if="isLoaded" @click="searchAll">Search all month</button>
        <table v-if="isLoaded">
            <tr>
                <th v-for="day in days" class="day-header" @click="dayHeaderClicked" v-text="day"></th>
            </tr>
            <tr v-for="hour in hours">
                <td v-for="day in days" class="hour-cell">
                    <calendar-cell :hour="hour" :day="day"></calendar-cell>
                </td>
            </tr>
        </table>
    </div>
</script>

<script type="text/x-template" id="calendar-cell_">
    <div :class="classList">
        <div v-if="isSearching">
            ...
        </div>
        <div v-if="showTime" @click="cellClicked" class="time">
            <span v-text="hour"></span><span>:00</span>
        </div>
        <div v-if="showSearchResults">
            <div v-text="options"></div>
            <div class="result-label">results</div>
        </div>
    </div>
</script>

<body>

<h1>Vue Example</h1>

<calendar></calendar>

<script src="app-vue.js"></script>
</body>
</html>
